h1 {
  text-align: center;
}

h2 {
  font-weight: bold;
  column-span: all;
}

h3 {
  column-span: all;
}

h4 {
  font-weight:bold;
}

hr {
  height:1px;
  background-color:#433F3E;
}

#logo {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#subtitle {
  text-align: center;
  font-style: italic;
}

#college {
  text-align: center;
}

#notes {
  text-align: left;
}

.main-container {
  max-width: 1600px;
  width: 98%;
}

.row {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 50px;
}
